### Hello! We are Inu + Neku 

We are a Dog & Cat services and supplies store located in New York City. We just started our e-commerce business and need your help analyzing our data!

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_cleaned = pd.read_csv('inu_neko_orderline_clean.csv')
df_cleaned

,trans_id,prod_upc,cust_id,trans_timestamp,trans_year,trans_month,trans_day,trans_hour,trans_quantity,cust_age,cust_state,prod_price,prod_title,prod_category,prod_animal_type,total_sales
0,10300097,719638485153,1001019,2021-01-01 07:35:21.439873,2021,1,1,1,1,20,New York,72.99,Cat Cave,bedding,cat,72.99
1,10300093,73201504044,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,1,34,New York,18.95,Purrfect Puree,treat,cat,18.95
2,10300093,719638485153,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,1,34,New York,72.99,Cat Cave,bedding,cat,72.99
3,10300093,441530839394,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,2,34,New York,28.45,Ball and String,toy,cat,56.90
4,10300093,733426809698,1001015,2021-01-01 09:33:37.499660,2021,1,1,1,1,34,New York,18.95,Yum Fish-Dish,food,cat,18.95
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38218,10327860,287663658863,1022098,2021-06-30 15:37:12.821020,2021,6,30,30,1,25,New York,9.95,All Veggie Yummies,treat,dog,9.95
38219,10327960,140160459467,1022157,2021-06-30 15:45:09.872732,2021,6,30,30,2,31,Pennsylvania,48.95,Snoozer Essentails,bedding,dog,97.90
38220,10328009,425361189561,1022189,2021-06-30 15:57:44.295104,2021,6,30,30,2,53,New Jersey,15.99,Snack-em Fish,treat,cat,31.98
38221,10328089,733426809698,1022236,2021-06-30 15:59:29.801593,2021,6,30,30,1,23,Tennessee,18.95,Yum Fish-Dish,food,cat,18.95
38222,10328109,717036112695,1011924,2021-06-30 17:30:52.205912,2021,6,30,30,1,24,Pennsylvania,60.99,Reddy Beddy,bedding,dog,60.99

In [4]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38223 entries, 0 to 38222
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   trans_id          38223 non-null  int64
 1   prod_upc          38223 non-null  int64
 2   cust_id           38223 non-null  int64
 3   trans_timestamp   38223 non-null  object
 4   trans_year        38223 non-null  int64
 5   trans_month       38223 non-null  int64
 6   trans_day         38223 non-null  int64
 7   trans_hour        38223 non-null  int64
 8   trans_quantity    38223 non-null  int64
 9   cust_age          38223 non-null  int64
 10  cust_state        38223 non-null  object
 11  prod_price        38223 non-null  float64
 12  prod_title        38223 non-null  object
 13  prod_category     38223 non-null  object
 14  prod_animal_type  38223 non-null  object
 15  total_sales       38223 non-null  float64
dtypes: float64(2), int64(9), object(5)
memory usage: 4.7+ MB

## Question 1: Number of Orders
How many transactions are there?

In [7]:
number = df_cleaned['trans_id'].value_counts()
num_trans = 28022

### Question 2: Alpha and Omega I
What was the month and day of the first sale?
Store as a tuple in that order and assign the tuple to the variable `first_date`.

In [8]:
print(df_cleaned['trans_month'].min())
print(df_cleaned['trans_day'].min())
first_date = (df_cleaned['trans_month'].min() , df_cleaned['trans_day'].min())

1
1

### Question 3: Alpha and Omega II
What was the month and day of the last sale? Store as a tuple in that order and assign the tuple to the variable `last_date`.

In [11]:
last_date = (df_cleaned['trans_month'].max() , df_cleaned['trans_day'].max()-1) 
print(last_date)

(6, 30)

### Question 4: Cats vs Dogs

Which animal product type is most popular?

In [12]:
df_cleaned['prod_animal_type'].value_counts()
most_pop = 'cat'

### Question 5: More Money More Problems I

What was the total dollar amount made in the month of January? Store this in the variable `jan_rev`.

In [15]:
summ =0
for x in df_cleaned.index:
    if df_cleaned.loc[x,'trans_month'] == 1:
        summ += df_cleaned.loc[x,'total_sales']

jan_rev = summ
print(jan_rev.round())

51740.0

### Question 6: More Money More Problems II
What was the total dollar amount made in the month of June? Store this in the variable `june_rev`.

In [17]:
summ =0
for x in df_cleaned.index:
    if df_cleaned.loc[x,'trans_month'] == 6:
        summ += df_cleaned.loc[x,'total_sales']
        
june_rev = summ
print(june_rev.round())

548823.0

# Question 7: Transaction Size

What is the average number of items bought in each transaction? Store this in the variable `avg_num_items`.

In [21]:
summ = 0
avg = 0
for x in df_cleaned.index:
    summ += df_cleaned.loc[x,'trans_quantity']

#print(summ)
avg = summ / 28022

avg_num_items = avg
print(avg_num_items)

1.8745628434801227

### Question 8: Best Products I

What are the top ten product titles by the total number of items sold for that product? Display in descending order. Store in variable `top_num_sales`.

In [22]:
print(df_cleaned.groupby('prod_title')['trans_quantity'].sum())

top_num_sales=['Reddy Beddy','Yum Fish-Dish','Kitty Climber','Feline Fix Mix','Tuna Tasties','Chewie Dental','Purrfect Puree','Whole Chemistry Recipe','Cat Cave','Snoozer Hammock']
print(top_num_sales)

prod_title
All Veggie Yummies        2296
Ball and String           1885
Cat Cave                  2408
Chewie Dental             2579
Chomp-a Plush             2114
Feline Fix Mix            3262
Fetch Blaster             1898
Foozy Mouse               1863
Kitty Climber             3329
Purr Mix                  1876
Purrfect Puree            2453
Reddy Beddy               6583
Scratchy Post             1833
Snack-em Fish             1585
Snoozer Essentails        2058
Snoozer Hammock           2311
The New Bone              1234
Tug-a-Back                1152
Tuna Tasties              3102
Whole Chemistry Recipe    2410
Yum Fish-Dish             4298
Name: trans_quantity, dtype: int64
['Reddy Beddy', 'Yum Fish-Dish', 'Kitty Climber', 'Feline Fix Mix', 'Tuna Tasties', 'Chewie Dental', 'Purrfect Puree', 'Whole Chemistry Recipe', 'Cat Cave', 'Snoozer Hammock']

### Question 9: Best Products II
What are the top ten product titles by total dollar amount made?
Display in descending order. Store in variable `top_tot_sales`.

In [27]:
print(df_cleaned.groupby('prod_title')['total_sales'].sum())
df_top = df_cleaned.groupby('prod_title')['total_sales'].sum()
    
top_tot_sales=['Reddy Beddy','Cat Cave','Kitty Climber','Snoozer Hammock','Snoozer Essentails','Yum Fish-Dish','Scratchy Post','Feline Fix Mix','Foozy Mouse','Tuna Tasties']

prod_title
All Veggie Yummies         22845.20
Ball and String            53628.25
Cat Cave                  175759.92
Chewie Dental              28291.63
Chomp-a Plush              46402.30
Feline Fix Mix             65207.38
Fetch Blaster              47355.10
Foozy Mouse                61460.37
Kitty Climber             119810.71
Purr Mix                   24369.24
Purrfect Puree             46484.35
Reddy Beddy               408023.09
Scratchy Post              65951.34
Snack-em Fish              25344.15
Snoozer Essentails        100739.10
Snoozer Hammock           106282.89
The New Bone               13561.66
Tug-a-Back                 26484.48
Tuna Tasties               58782.90
Whole Chemistry Recipe     31257.70
Yum Fish-Dish              81447.10
Name: total_sales, dtype: float64